@charset 'UTF-8';

.form {
    width: 90%;
    max-width: 720px;
    margin: 0 auto;
    line-height: 2;
}

.required {
    font-size: var(--size_s);
    color: #fff;
    background-color: #ea3838;
    border-radius: 5px;
    padding: 1px 3px;
    margin-right: 8px;
}

.form dl {
    padding: 10px 0;
    text-align: left;
}
.form dt {
    padding-bottom: 8px;
}

.form dd {
    width: 100%;
}

.form input {
    width: 100%;
}

.form textarea {
    width: 100%;
}

.form .form_btn {
    padding: 8px;
    margin: 20px auto;
    border: none;
    background-color: rgba(var(--text_color_rgb), 0.1);
    color: var(--text_color);
}

.form .form_btn:hover {
    background-color: rgba(var(--text_color_rgb), 0.5);
    color: #fff;
}

@media screen and (min-width: 960px) {
    .contact section h2 {
        padding-bottom: 40px;
    }

    .form {
        width: 70%;
    }

    .form_box {
        display: flex;
    }

    .form_box dt {
        flex-basis: 30%;
    }

    .form_box dd {
        flex-basis: 70%;
    }
}
