@charset 'UTF-8';
/* ========================== */
/* GALLERY */
/* ========================== */
.gallery_box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 8px;
}

#lightbox .lb-outerContainer {
    width: 800px;
    height: 600px;
}

@media screen and (min-width: 600px) {
    .gallery_box {
        grid-template-columns: repeat(4, 1fr);
    }
    .gallery_box a {
        overflow: hidden;
    }
    .gallery_box img:hover {
        transform: scale(1.1);
        transition: 0.5s;
    }
    .box1 {
        grid-column: 1/3;
        grid-row: 1/3;
    }
    .box2 {
        grid-column: 3/5;
        grid-row: 3/5;
    }
    .box3 {
        grid-column: 1/3;
        grid-row: 5/7;
    }
    .box4 {
        grid-column: 3/5;
        grid-row: 1/3;
    }
    .box5 {
        grid-column: 1/3;
        grid-row: 2/4;
    }
}
/* ========== min-width:600px ========== */
