@charset 'UTF-8';

/* ====================================== */
/* 個別ページレイアウト */
/* ====================================== */
.flower_under {
    margin-top: 70px;
    text-align: center;
}
.flower_under h1 {
    padding: 40px;
    font-size: var(--size_ll);
}
.flower_under_box div {
    padding-left: 8px;
    padding-right: 8px;
}

.flower_under_box div dl {
    border-bottom: 3px dotted var(--color_1);
    display: flex;
    gap: 16px;
    line-height: 3;
    margin-top: 20px;
}
.flower_under_box div p {
    padding-top: 40px;
    font-size: var(--size_s);
}

@media screen and (min-width: 600px) {
    .flower_under {
        max-width: 1000px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }

    .flower_under_box {
        display: flex;
        gap: 80px;
    }

    .flower_under img {
        width: 400px;
        height: 300px;
        object-fit: cover;
    }
    .flower_under_box div p {
        padding-top: 80px;
    }
}

/* ========== min-width:600px ========== */
