@charset 'UTF-8';
/* ====================================== */
/* キービジュアル */
/* ====================================== */
.mv {
    padding-top: 70px;
    position: relative;
    height: 100vh;
}

.swiper-slide__item img {
    height: 70vh;
    object-fit: cover;
}

.swiper-slide-active .swiper-slide__item,
.swiper-slide-duplicate-active .swiper-slide__item,
.swiper-slide-prev .swiper-slide__item {
    animation: zoomanime 7s linear 0s normal both;
}

@keyframes zoomanime {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.3);
    }
}

@media screen and (min-width: 600px) {
    .mv {
        max-width: 1400px;
        margin-left: auto;
        margin-right: auto;
        padding-left: 20px;
        padding-right: 20px;
    }

    .swiper-slide__item img {
        height: 75vh;
        object-fit: cover;
    }
}

/* ========== min-width:600px ========== */

/* Shop Name */
.shop_name {
    color: rgba(255, 255, 255, 0.5);
    z-index: 1;
    position: absolute;
    bottom: 25vh;
    left: 1rem;
}

.shop_name span {
    font-size: var(--size_l);
    opacity: 0;
    animation: text_slidein 1.5s linear 0.5s forwards;
}

.shop_name h1 {
    font-size: var(--size_xl);
    opacity: 0;
    animation: text_slidein 1.5s linear 1.5s forwards;
}

@keyframes text_slidein {
    to {
        opacity: 1;
    }
}

@media screen and (min-width: 600px) {
    .shop_name {
        bottom: 20vh;
        left: 5%;
    }

    .shop_name span {
        font-size: var(--size_ll);
    }

    .shop_name h1 {
        font-size: 70px;
    }
}

/* ========== min-width:600px ========== */

/* Scroll */
.scroll {
    font-size: var(--size_m);
    text-align: center;
    position: relative;
    padding: 0.5rem;
}

.scroll::before {
    content: "";
    width: 1px;
    height: 50px;
    background-color: var(--color_2);
    position: absolute;
    top: 2rem;
    left: 50%;
}

.scroll::after {
    content: "";
    width: 1px;
    height: 50px;
    background-color: rgba(var(--color_rgb_3), 0.7);
    position: absolute;
    top: 2rem;
    left: 50%;
    animation: scroll_down 2s infinite;
}

/* ========== min-width:600px ========== */

@keyframes scroll_down {
    0% {
        transform: scale(1, 0);
        transform-origin: 0 0;
    }

    50% {
        transform: scale(1, 1);
        transform-origin: 0 0;
    }

    51% {
        transform: scale(1, 1);
        transform-origin: 0 100%;
    }

    100% {
        transform: scale(1, 0);
        transform-origin: 0 100%;
    }
}

/* ====================================== */
/* NEWS(最新3件) */
/* ====================================== */
.news {
    padding: 80px;
}
.news h1 {
    padding-bottom: 40px;
}

.news .top_news a {
    display: inline;
}
@media screen and (min-width: 600px) {
    .news .sect_inner {
        display: block;
    }
}
/* ========== min-width:600px ========== */

/* ====================================== */
/* 当店について */
/* ====================================== */
.about_text p {
    line-height: 1.5;
    padding-bottom: 10px;
}

/* ====================================== */
/* 店舗 */
/* ====================================== */
section#shop {
    padding-bottom: 160px;
}

.shop_text h3 {
    padding-bottom: 40px;
}
/* アイコン表示 */
.shop_text .post::before {
    content: "";
    display: inline-block;
    background-image: url(../../img/icon/post.svg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 22px;
    height: 22px;
    margin-right: 16px;
}

.shop_text .adr::before {
    content: "";
    display: inline-block;
    background-image: url(../../img/icon/home.svg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 25px;
    height: 25px;
    margin-right: 16px;
}

.shop_text .tel::before {
    content: "";
    display: inline-block;
    background-image: url(../../img/icon/tel.svg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 25px;
    height: 25px;
    margin-right: 16px;
}

.shop_text .fax::before {
    content: "";
    display: inline-block;
    background-image: url(../../img/icon/fax.svg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 25px;
    height: 25px;
    margin-right: 16px;
}

.shop_text .mail::before {
    content: "";
    display: inline-block;
    background-image: url(../../img/icon/mail.svg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 25px;
    height: 25px;
    margin-right: 16px;
}

@media screen and (min-width: 600px) {
    /* section#shop {
        padding-bottom: 160px;
    } */
    .shop .image {
        border-radius: 5px;
    }
}

/* ========== min-width:600px ========== */

/* ====================================== */
/* ITEM */
/* ====================================== */
.item .desc {
    max-width: 800px;
}
.item_text p {
    line-height: 1.5;
    padding-bottom: 10px;
}
/* 商品スライダー */
.splide {
    margin-top: 80px;
}

.splide__slide img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    aspect-ratio: 1;
}
/* ========== min-width:600px ========== */

/* ====================================== */
/* Gallery */
/* ====================================== */
.gallery_text p {
    line-height: 1.5;
    padding-bottom: 10px;
}
.image_link {
    display: block;
    position: relative;
    text-decoration: none;
}

.image_link img {
    display: block;
    width: 100%;
    margin: 0 auto;
}

.image_link:before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 2;
    background: var(--color_1);
    opacity: 0;
    transition: 0.3s;
}

.image_link:after {
    content: "View More";
    display: block;
    color: #fff;
    line-height: 3;
    width: 180px;
    border: solid 1px #fff;
    border-radius: 5px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -1em;
    margin-left: -90px;
    opacity: 0;
    z-index: 3;
    transition: 0.3s;
    font-weight: bold;
    letter-spacing: 0.2em;
}

.image_link:hover:before {
    opacity: 0.5;
}

.image_link:hover:after {
    opacity: 1;
    margin-top: -0.5em;
}

@media screen and (min-width: 600px) {
    .image_link img {
        border-radius: 10px;
    }

    .image_link:before {
        border-radius: 10px;
    }
} /* ====================================== */
/* Contact */
/* ====================================== */
.contact .sect_inner h3 {
    margin-bottom: 40px;
}

.contact .sect_inner p {
    line-height: 1.5;
}

.contact_tel::before {
    content: "";
    display: inline-block;
    background-image: url(../../img/icon/tel.svg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 25px;
    height: 25px;
    margin-right: 16px;
}
.contact_mail::before {
    content: "";
    display: inline-block;
    background-image: url(../../img/icon/mail.svg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 25px;
    height: 25px;
    margin-right: 16px;
}
.contact .desc div {
    margin-bottom: 80px;
}

/*=================
下の画像
==================*/
.bg_placeholder {
    height: 500px;
    /* 以下の指定ではスマホで動かないのでほかの方式をとる */
    /*
     background-image: url(../../img/top_showcase.webp);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed; 
    */
}

/* スマホでも対応可能バージョン */
.bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-image: url(../../img/top/under_bg.jpg);
    z-index: -1;
    background-size: cover;
    display: none;
}

.bg.on {
    display: block;
}

/*=================
TOPへ戻る
==================*/
#to_top {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: rgba(var(--color_rgb_3), 0.5);
    color: #fff;
    text-align: center;
    line-height: 60px;
    font-size: var(--size_s);
    position: fixed;
    bottom: 3%;
    right: 3%;
    display: none;
}

@media screen and (min-width: 600px) {
    #to_top {
        border-radius: 50%;
        background-color: rgba(var(--color_rgb_3), 0.5);
        color: #fff;
        text-align: center;
        position: fixed;
        bottom: 5%;
        right: 5%;
    }
}

/* ========== min-width:600px ========== */
