@charset 'UTF-8';

/* ====================================== */
/* 下層ページ */
/* ====================================== */
/* 下層ページTOP画像 */
.top_box {
    position: relative;
    width: 100%;
    height: 40vh;
    margin-top: 70px;
}
.top_box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.top_box img::before {
    content: "";
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.top_title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px 20px;
    font-size: var(--size_xl);
    mix-blend-mode: overlay;
    color: #fff;
}

.top_text {
    width: 90%;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}
.top_text p {
    line-height: 2;
}

@media screen and (min-width: 600px) {
    .top_box {
        max-width: 1400px;
        margin-left: auto;
        margin-right: auto;
    }
    .top_title {
        padding: 16px 40px;
    }
    .top_text {
        width: 60%;
        text-align: center;
    }
}
/* ========== min-width:600px ========== */

.under section {
    height: auto;
}

.under section h2 {
    text-align: center;
    padding: 40px;
    font-size: var(--size_l);
}

/* 切り替えタブ */
.tab_container {
    display: flex;
    justify-content: space-between;
    gap: 8px;
    margin-left: auto;
    margin-right: auto;
}

.tab_container input {
    display: none;
}
.tab_container label {
    display: block;
    text-align: center;
    border: 1px solid var(--color_3);
    padding-top: 10px;
    padding-bottom: 10px;
    color: var(--color_3);
    flex: 1;
}

.tab_container input:checked + label {
    background-color: var(--color_3);
    color: #fff;
}

@media screen and (min-width: 600px) {
    .tab_container {
        max-width: 1000px;
        margin-left: auto;
        margin-right: auto;
        gap: 16px;
    }
    .under section h2 {
        padding: 80px;
    }
}
/* ========== min-width:600px ========== */

/* コンテンツ */
.tab_contents {
    display: none;
}

div:has(#flower:checked) ~ #flower_contents,
div:has(#plants:checked) ~ #plants_contents,
div:has(#gift:checked) ~ #gift_contents,
div:has(#bouquet:checked) ~ #bouquet_contents,
div:has(#flower_display:checked) ~ #flower_display_contents,
div:has(#wedding:checked) ~ #wedding_contents {
    display: block;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}
